@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  background-color: #fff;
}
.bg__img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg_hero {
  background-image: url("./assets/banner.png");
}
.bg_testimonial {
  background-image: url("./assets/bg_2.png");
}
.bg_cta {
  background-image: url("./assets/bg_3.png");
}
.bg_about {
  background-image: url("./assets/bg_5.png");
}
.bg_shop {
  background-image: url("./assets/bg_6.png");
}
.bg_singleShop {
  background-image: url("./assets/bg_7.png");
}
.bg_services {
  background-image: url("./assets/bg_8.png");
}
.bg_singleService {
  background-image: url("./assets/bg_9.png");
}
.bg_portfolio {
  background-image: url("./assets/bg_10.png");
}
.bg_team {
  background-image: url("./assets/bg_17.png");
}
.bg_error {
  background-image: url("./assets/error_banner.png");
}

.bg_contact {
  background-image: url("./assets/bg_14.png");
}
.bg_location {
  background-image: url("./assets/image_12.png");
}
a {
  color: inherit;
  text-decoration: none;
}
li {
  list-style: none;
}
.slide-bottom {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/* shadow */
.team_card:hover {
  filter: drop-shadow(0px 29px 44px rgba(150, 150, 150, 0.25));
}

.single_portfolio-intro {
  filter: drop-shadow(0px 14px 36px rgba(204, 204, 204, 0.25));
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.dropdown-menu {
  position: absolute;
  top: 2rem;
  left: 0;
  background-color: #fff;
  border-radius: 4px;
  padding: 1rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 150px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
}
.dropdown-menu::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 20px;
  border-bottom: 12px solid var(--color-harp);
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
}
.dropdown-menu.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/* slick slider */

.testimonial {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
}
.slick-dots {
  bottom: -3rem;
}

.slick-dots li button:before {
  font-size: 12px;
  opacity: 1;
  color: #c4c4c4;
}
.slick-dots li.slick-active button:before {
  color: #7eb693;
}

/* portfolio */
.portfolio_card-link {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  opacity: 0;
}
.portfolio_card:hover .portfolio_card-link {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}
